.card:not(.task):not(.coluna-kanban) {
  margin: 0 auto;
  width: 75vw;
  color: white;
  background-color: #1E1E1E;
  padding: 3vw;
  border-radius: 15px;
}

.navbar {
  background-color: #1E1E1E;
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
  border-color: #1E1E1E;
  border-width: 2px;
  border-top: 0;
}   

.fc-day {
  background-color: #535353;
  border-radius: 8px;
}

.fc-toolbar button {
  background-color: black;
}

.fc-unthemed td.fc-today {
  background-color: #535353;
}

.fc-unthemed td.fc-today .fc-day-number {
  background-color: red;
  border-radius: 100%;
  margin: 3px;
  padding: 3px;
}

.fc-other-month {
  background-color: rgb(52, 52, 52);
}

.fc-row .fc-widget-header {
  font-weight: lighter;
}
button   {
  all: unset;
}

.card:not(.task) button {
  background-color: #1E1E1E;
  box-shadow: none;
  color: white;
  border: 0;
  font-weight: lighter;
}

.card:not(.task) button .fc-state-default {
  background-color: #1E1E1E;
  box-shadow: none;
  color: white;
  border: 0;
}

.fc-state-default {
  background-image: none;
}  

.fc-agendaWeek-button .fc-button .fc-state-default {
  background-color: #1E1E1E;
  box-shadow: none;
  color: white;
  border: 0;
}

.card:not(.task):not(.coluna-kanban) .fc-state-active:not(.task):not(.coluna-kanban) {
  background-color: #535353;
  border-radius: 10px;
  outline: thin dotted;
  outline: 0px auto;
  outline-offset: 0px;
}

body {
  background-color: #535353;
}

.fc-content, .fc-event {
  background-color: black;
  padding: 2px;
  border-radius: 5px;
}

.fc-event {
  border: 0;
}

.status {
  border: none!important;
}

.card-header {
  background-color: #2c2c2c;
}

.coluna-kanban {
  background: #535353!important;
  border: none!important;
}

.task {
  background-color: #2c2c2c;
  margin: 5px;
}

#done .task {
  opacity: 0.85;
}

* {
  border-bottom: none!important;
}

.fc-row {
  margin: 2px;
}

.start-button:hover {
  border-radius: 15px;
}

.submit-button:hover {
  border-radius: 10px;
}

#Pomodoro {
  float: right;
  margin: 7px;
  width: 30%;
}

body {
  background-color: #333;
}

.start-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #535353;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;

  font-family: Arial, sans-serif;
  text-align: center;

  align-items: center;
  justify-content: center;

  margin: 0;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  padding: 20px;
  border: 1px solid #444;
  z-index: 100;
  width: 300px;
}

.popup-header {
  font-size: 20px;
  margin-bottom: 10px;
}

.popup input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 90%;
  border: none;
  background-color: #333;
  color: white;
}

.submit-button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 40%;
  margin-right: auto;
}
